        *{
            box-sizing: border-box;
        }


        body{
            display:flex;
            justify-content: center;
            align-items: flex-start;
            
        }

        .container{
            display:flex;
            flex-wrap: wrap;
            flex: 0 1 30%;
            min-width:400px;
        }

        .buttons,.result{
            display: flex;
            flex-wrap: wrap;
            flex: 0 1 100%;
        }
        .result{
            height: 50px;
            border: 1px solid rgb(210, 189, 164);
            justify-content: flex-end;
            align-items: center;
            font-size: 2em;
            background: #000;
            color:#fff;
            padding:0 10px;
        }
        .button{
            display:flex;
            flex: 0 1 25%;
            justify-content: center;
            align-items: center;
            height: 50px;
            border: 1px solid rgb(210, 189, 164);
            border-top:none;
            border-left:none;
            cursor: pointer;
            background: black;
            color: white;
            font-size:2em;
        }
    
        .zero-btn{
            flex-grow: 2;
        }
        